.Navbar{
    width: 100%;
    background: #a8a1d5;
    height: 50px;
    font-size: x-large;
    border-radius: 10px;
    padding-left: 10px;
}

.Card img{
    /* width: 300px; */
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}
.Card button{
    border-radius: 10px;
    background: #343790;

}
.Card{
   height: 250px;
   width: 300px;
   background: #444; 
   border-radius: 20px;
   border:2px solid white;
   margin: 20px;
   justify-content: center;
   text-align: center;

}
